{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron jumbotron-fluid bg-primary text-white">
    <div class="container">
      <h1 class="display-4">Orbitalcorp</h1>
      <p class="lead">Решения которые упрощают жизнь.</p>
    </div>
  </div>

  <div class="container my-5">
    <h2>Преимущества</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Быстрый и удобный интерфейс</h5>
            <p class="card-text">Мы сделали наш интерфейс максимально простым и удобным, чтобы вы могли быстро и легко получить доступ к нужной информации.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Безопасность и надежность</h5>
            <p class="card-text">Мы обеспечиваем полную безопасность и надежность наших услуг, чтобы вы могли быть уверены в сохранности своих данных.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Профессиональная поддержка</h5>
            <p class="card-text">Наша команда профессиональных специалистов всегда готова помочь вам в решении любых проблем и вопросов.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}